name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  export_web:
    name: Web Export
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cleanup previous build
        run: rm -rf web_build && mkdir -p web_build

      - name: Export Web (Godot 4.6)
        uses: firebelley/godot-export@v5.2.1
        with:
          godot_executable_download_url: https://github.com/godotengine/godot/releases/download/4.6-stable/Godot_v4.6-stable_linux.x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot/releases/download/4.6-stable/Godot_v4.6-stable_export_templates.tpz
          relative_project_path: .
          export_preset_name: "Web"
          use_godot_4: true
          archive_output: false
          output_path: web_build
          # password: ${{ secrets.GODOT_PASSWORD }} # если экспорт защищён

      - name: Upload artifact for Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: web_build

  deploy:
    needs: export_web
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}
    steps:
      - id: deploy
        uses: actions/deploy-pages@v4